<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.leo.myapplication">

    <application
        android:allowBackup="false"
        android:label="My Application"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposedminversion"
            android:value="53" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ActiveActivity"
            android:noHistory="true"
            android:theme="@android:style/Theme.Translucent">
            <intent-filter>
                <action android:name="com.example.leo.myapplication.ACTION_ACTIVE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <provider
            android:name=".MainContentProvider"
            android:authorities="com.example.leo.myapplication.CP"
            android:exported="true" />

    </application>
</manifest>
